.side-navbar {
    /* width: 5vw; */
    height: 90vh;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
    transition: width 0.25s;



    background-color: var(--gray);
}

.side-navbar > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.side-navbar > ul > li > a {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.navbar-btn-icon:hover{
    transform: scale(1.2);
}
.dashboard-button {
    cursor: pointer;
}
