.tasks-creator {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.tasks-creator__title {
}
.tasks-creator__form-container {
}
.tasks-preview {
    height: 6rem;
    overflow-y: scroll;
    padding: 1rem;
}
