.status-container {
    display: flex;
    flex-direction: column;

    flex-grow: 0;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
.status-container-title {
    border-bottom: 1px solid whitesmoke;
    padding: 1rem;
}
.status-container-title p {
    color: var(--main-color);
    font-size: 0.8rem;
}
.status-container-title a {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    gap: 0.25rem;
    line-height: 0;
}
.status-container-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem;
}
.status-type {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.status-type strong {
    font-size: 0.9rem;
}
.status-type div {
    display: flex;
    gap: 0.25rem;
}
