.project {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;

    width: 100%;
    padding: 1rem;
    border-radius: 5px;

    background-color: whitesmoke;
}
.project__main {
    margin-bottom: 1rem;
}

.project__title {
    font-size: 1.4rem;
}
.project__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.project__about span {
    display: flex;
    align-items: center;
}
.about__counter {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.about__extra {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    gap: 1.5rem;
}
.project__description{
    text-align: justify;
    width: 60%;
}
.project__description,
.project__tasks {
    display: flex;
    flex-direction: column;
}