.toast{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    
    height: 2.5rem;
    width: 300px;
    
    margin: 1rem;
    padding: 1rem;
    
}
.toast * {
    color: white;
}
.message{
    line-height: 1rem;
}
.message strong{
    font-size: 1.1rem;
    color: white;
}
.message p {
    font-size: 0.8rem;
    color: white;
}