.project-page{
    width: 90vw;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2rem 5rem;

    position: relative;
    z-index: 0;
    
    overflow-y: scroll;
    overflow-x: hidden;
}
.projects-container{
    margin-top: 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}