
.project-creator{
    display: none;
    flex-direction: column;
    gap: 8px;
    width: 60vw;

    position: fixed;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;

    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}
.project-creator-titlebox, .project-creator-deadlinebox{
    display: flex;
    flex-direction: row;
}
.project-creator-titlebox > div, .project-creator-deadlinebox > div{
    width: 50%;
}
.project-title-div > input, .project-deadline-div > input{
    padding: 5px;
    border-radius: 5px;
}

.project-creator-descbox{
    display: flex;
    flex-direction: column;
}
.project-creator-descbox > textarea{
    resize: none;
    width: 100%;
    height: 5rem;
    padding: 5px;
    box-sizing: border-box;
}
.project-tasks-preview{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.project-taskcard-creator{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
}
.card-input-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    width: 90%;
}
.project-task-card-creator-inpt{
    padding: 5px;
}
.project-taskcard-btn{
    width: 10%;
    padding: 8px 0;
}
.already-added-tasks{
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;

    margin-top: 1rem;
    padding: 8px 1rem;
    border-radius: 5px;
    height: 5rem;
}
.already-added-taskcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}
.project-taskcard-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.project-taskcard-delete-btn{
    color: red;
    background-color: whitesmoke;
}
.already-added-tasks, .project-task-card-creator-inpt, .project-creator-descbox > textarea, .project-creator-titlebox > div > input{
    background-color: whitesmoke;
}