.task-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.card-maininfo{
    display: flex;
    gap: 1rem;
}
/* .card-icons{
} */