.project-creator-tasks{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.creator-task-input{
    display: flex;
    justify-content: space-between;
}
.creator-task-input input,
.creator-task-input select{
    background-color: whitesmoke;
    padding: 0.25rem;
    border-radius: 5px;
}
.creator-task-input input:focus,
.creator-task-input select:focus{
    outline: none;
}
.creator-task-input > div{
    display: flex;
    gap: 1rem;
}
.add-task-btn{
    background-color: var(--main-color);
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    color: white;
}
.creator-tasks-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 0.25rem;

    height: 2rem;
    margin-top: 1rem;
    overflow-y: scroll;
}