.app-header {
    padding-left: 6rem;
    padding-right: 6rem;
    height: 10vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    background-color: var(--main-color);
}
.app-header > a, .app-header > h1{
    color: white;
}
