*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50);
}
:root{
    --main-color: rgb(100, 175, 225);
    --gray: whitesmoke;

}

.teste{
    display: flex;
    flex-direction: row;
}

body{
    position: absolute;
    z-index: 0;
}
input:focus, textarea:focus{
    outline: none;
}

#error-popup{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;

    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 10vh;
    width: 100%;

    background-color: rgb(245, 108, 108);
}
#error-container > strong{
    color: rgb(254, 240, 240);
    font-weight: bold;
    font-size: 1.1rem;
}
#error-container > p{
    color: rgb(253, 226, 226);
}

#popup-background{
    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.628);

    position: fixed;
    z-index: 1;

    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
