.task-creator-screen{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    position: fixed;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 75vw;
    height: 50vh;
    padding: 2rem;
    border-radius: 5px;

    border: whitesmoke solid 1px;
    background-color: white;
}
.task-creator-info, .task-creator-description{
    font-size: 14px;
}
.task-creator-info, .task-creator-description{
    display: flex;

}
.task-creator-info{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
.task-creator-info > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;
}
.task-title-input, .task-deadline-input{
    background-color: whitesmoke;
    padding: 0.3rem;
    height: 24px;
    border-radius: 5px;
}
.task-title-input:focus, .task-deadline-input:focus{
    outline: none;
    
}

.task-creator-description{
    display: flex;
    flex-direction: column;
    height: 40%;
}
.task-description-textarea{
    width: 100%;
    resize: none;
    background-color: whitesmoke;
}
.task-creator-btn-display{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 20%;
}
.task-creator-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task-creator-footer > select{
    padding: 10px 1.2rem;
}
.add-btn, .close-btn{
    padding: 10px 1.2rem;
    flex-grow: 0;
    border-radius: 5px;
}
.add-btn{
    background-color: whitesmoke;
}
.close-btn{
    font-weight: bolder;
}
.task-title-input, .task-deadline-input, .task-descript-textarea{
    font-size: 1rem;
}